<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/test/hello}">测试@RequestMapping的标识位置</a>
</br>
<a th:href="@{/test/abc}">测试@RequestMapping的value属性</a>

<form th:action="@{/test/hello}" method="post">
    <input type="submit" value="测试@RequestMapping的method属性">
</form>

<a th:href="@{/test/abc(username = 'admin',age = 18,gender = '女')}">测试@RequestMapping的params属性</a><br>
<a th:href="@{/test/testRest/1/admin}">测试路径中的占位符-->/testRest</a><br>

<hr>

<form th:action="@{/param/servletAPI}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="登录"><br>
</form>
<hr>
<a th:href="@{/mvc}">header和cookie-->/testRest</a><br>

--测试pojo
<form th:action="@{/param/pojo}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="登录"><br>
</form>

<hr>
<a th:href="@{/testServletAPI}">测试通过ServletAPI向请求域共享数据</a><br>
<a th:href="@{/testModelAndView}">测试通过ModelAndView向请求域共享数据</a><br>
<a th:href="@{/testModel}">测试通过Model向请求域共享数据</a><br>
<a th:href="@{/testMap}">测试通过Map向请求域共享数据</a><br>
<a th:href="@{/testModelMap}">测试通过ModelMap向请求域共享数据</a><br>

<a th:href="@{/testSession}">测试session会话域共享数据</a><br>
<a th:href="@{/testApplication}">测试Application应用域共享数据</a><br>



</body>
</html>