<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace ：对应的mapper接口 -->
<mapper namespace="com.dyp.mybatis.mapper.UserMapper">
<!--    4参数pojo-->
    <insert id="insertUser">
        INSERT INTO t_user VALUES (NULL, #{username}, #{password}, #{age}, #{gender}, #{email})
    </insert>
    <!--    1单个字面量类型-->
    <!-- 占位符方式 -->
    <select id="getUserByUsername01" resultType="com.dyp.mybatis.pojo.User">
        SELECT * FROM t_user WHERE username = #{username};
    </select>
    <!-- 字符串拼接方式 注意单引号-->
    <select id="getUserByUsername02" resultType="com.dyp.mybatis.pojo.User">
        SELECT * FROM t_user WHERE username = '${username}';
    </select>
<!--    2多个字面量-->
    <select id="checkLogin01" resultType="com.dyp.mybatis.pojo.User">
        select * from t_user where username = #{param1} and password = #{param2};
    </select>
    <select id="checkLogin02" resultType="com.dyp.mybatis.pojo.User">
        select * from t_user where username = #{arg0} and password = #{arg1};
    </select>

<!--    3参数map-->
    <select id="checkLoginByMap" resultType="com.dyp.mybatis.pojo.User">
        select * from t_user where username = #{username} and password = #{password};
    </select>

<!--    5注解@Param-->
    <select id="checkLoginByParam" resultType="com.dyp.mybatis.pojo.User">
        select * from t_user where username = #{aa} and password = #{bb};
    </select>




<!--  5查询  -->
<!--    1查询一个实体对象-->
    <select id="getUserById" resultType="com.dyp.mybatis.pojo.User">
        select * from t_user where id = #{id};
    </select>
<!--    2查询一个集合list-->
    <select id="getAllUser" resultType="com.dyp.mybatis.pojo.User">
        select * from t_user ;
    </select>
<!--    5.3查询单行单列-->
    <select id="getCount" resultType="java.lang.Integer">
        select count(id) from t_user;
    </select>
<!--    5.4查询到Map-->
    <select id="getUserMapById" resultType="java.util.Map">
        SELECT * FROM t_user WHERE id = ${id}
    </select>
    <select id="getAllUserToMap" resultType="java.util.Map">
        select * from t_user;
    </select>
    <select id="getAllUserToListMap" resultType="java.util.Map">
        select * from t_user;
    </select>


<!--    6特殊查询-->

<!--    6。1模糊查询-->
    <select id="getUserByLike01" resultType="com.dyp.mybatis.pojo.User">
        SELECT * FROM t_user WHERE username like '%${mohu}%';
    </select>
    <select id="getUserByLike02" resultType="com.dyp.mybatis.pojo.User">
        SELECT * FROM t_user WHERE username like CONCAt('%', #{mohu}, '%');
    </select>
    <select id="getUserByLike03" resultType="com.dyp.mybatis.pojo.User">
        SELECT * FROM t_user WHERE username like "%"#{mohu}"%";
    </select>

    <!--  6.2批量删除 -->
    <delete id="deleteMore">
        delete from t_user where id in(${ids})
    </delete>
<!--        6.3动态表名-->
    <select id="getListByTable" resultType="com.dyp.mybatis.pojo.User">
        select * from ${tableName};
    </select>




</mapper>